<div class="pages" fxLayout="column" fxLayoutGap="20px">
  <div fxLayoutAlign="space-between center">
    <span class="accent-color page-title">Summery of all your live and executive projects</span>
    <button mat-raised-button color="primary" *ngIf="userType == 'CLIENT'" routerLink="create-project">Create
      Project</button>
  </div>
  <div class="horizontal-line accent-color"></div>
  <mat-card class="mat-elevation-z4">
    <mat-card-content style="margin-top: 20px;" *ngIf="projectCategories" fxLayout="column" fxLayoutGap="20px">
      <ng-container *ngFor="let category of projectCategories">
        <project *ngIf="category.project" [project]="category"></project>
      </ng-container>

    </mat-card-content>
  </mat-card>
</div>
