.vendor-card{
    width: 250px;
    height: 300px;
}

.comp-name{
    font-size: 14px;
    line-height: 16px;
}
.comp-address{
    font-size: 10px;
    line-height: 12px;
}

mat-card{
    margin: 5px;
}