mat-icon{
    height: 55px;
    width: 55px;
}

.card-title{
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
}

.card-subtitle{
    font-size: 18px;
    line-height: 20px;
}

.service-card{
    max-width: 250px;
    min-height: 265px;
}