<div class="page-container full-width">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <span class="title-step">
            Meet anyone, anywhere with high quality video and audio
        </span>
        <div fxLayout="row" fxLayoutGap="15px" style="padding: 15px;">
            <button mat-raised-button>
                <div class="large-button" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                    <mat-icon color="accent">event</mat-icon>
                    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start">
                        <span class="title accent-color">Schedule a Meeting</span>
                        <span class="sub-title gray-color">Share the link to meet later</span>
                    </div>
                </div>
            </button>
            <button mat-raised-button>
                <div class="large-button" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                    <mat-icon color="accent">event</mat-icon>
                    <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start">
                        <span class="title accent-color">Broadcast Meeting</span>
                        <span class="sub-title gray-color">Share the link to meet later</span>
                    </div>
                </div>
            </button>
        </div>
        <span class="title-step">
            Upcoming Meetings/To Dos
        </span>
        <div>
        </div>
    </mat-card>
</div>
