<div class="page-theme" fxLayout="column">
    <div fxLayout="column" class="full-width nav-container">
        <biz-toolbar [firstNavigation]="navList" [navigationList]="navigations" hasLogo></biz-toolbar>
    </div>
    <div class="full-height landing-container" fxLayoutAlign="start center">
        <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="start start" fxLayout="column" fxLayoutGap="40px">
            <span class="color-white landing-title" style="line-height: 3rem;">INDIA'S FIRST MARKETPLACE FOR B2B
                SERVICES</span>
            <div fxLayout="column">
                <span class="color-white" style="font-size: 2rem;line-height: 2rem;">Strategy Delivered.</span>
                <span class="color-white" style="font-size: 1.5rem;line-height: 2rem;">Execute projects all the way...
                    with <b>trust</b> of
                    <span class="primary-color">Biz</span>coveri</span>
            </div>
            <div fxLayout="row" fxLayoutGap="15px">
                <button mat-raised-button color="primary">Create project</button>
                <button mat-raised-button class="accent-color">How it works?</button>
            </div>
        </div>
    </div>
    <mat-icon svgIcon="signout" color="primary"></mat-icon>
</div>
