.page-theme {
    width: 100%;
    background-image: url("../../../../assets/images/landing-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: auto;
  }

  .logo{
    img{
        height: 2em;
        width: auto;
    }
}

.nav-container{
  max-height: 100px;
}

.landing-title{
  font-size: 2.5rem;
  font-weight: 600;
}

.landing-container{
  padding: 15px;
}