<div class="page-theme" fxLayout="column">
    <div>
        <biz-toolbar [barColor]="color" [firstNavigation]="firstNavList" [navigationList]="secondNavList" hasLogo
            hasBackground hasShadow></biz-toolbar>
    </div>
    <div class="full-height gradient-background" fxLayoutAlign="start center" fxLayout="column">
        <div class="landing-container full-height full-width" fxLayoutAlign="start center" fxLayout="column">
            <div class="color-white" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
                <div *ngFor="let nav of detailsNavigation">
                    <button *ngIf="selectedRoute!=nav.route" mat-button [routerLink]="nav.route">{{nav.name}}</button>
                    <button *ngIf="selectedRoute==nav.route" mat-raised-button color="primary"
                        [routerLink]="nav.route">{{nav.name}}</button>
                </div>
            </div>
            <div class="child-content full-width" style="margin-top: 30px;">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer class="full-width">
            <div class="primary-background color-white footer-content" fxLayoutAlign="end start">Backed by the trust of
                Bizcoveri</div>
        </footer>
    </div>
</div>
