<div class="container">
    <mat-card class="full-width" fxLayout="column">
        <div fxLayout="column">
            <div style="margin-bottom: 10px;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                <button mat-icon-button color="primary">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span class="main-title-step primary-color">Back</span>
            </div>
            <span class="title-step accent-color">ADD TEAM MEMBER</span>
            <div fxLayout="column" fxLayoutAlign="start start">
                <form fxLayout="column" class="full-width">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="member name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="example@mail.com">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contact No.</mat-label>
                        <input matInput placeholder="contact number">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Function</mat-label>
                        <input matInput placeholder="enter function">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Designation</mat-label>
                        <input matInput placeholder="enter designation">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Project role</mat-label>
                        <input matInput placeholder="project member/admin">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="accent">Add Member</button>
                    </div>
                </form>
                <div style="margin-top: 20px;">
                    <span class="title-step accent-color">PROJECT TEAM MEMBERS</span>
                </div>
                <div class="full-width" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px"
                    style="margin-top: 20px;">
                    <button mat-raised-button class="gray-background">Save</button>
                    <button mat-raised-button color="accent">Preview</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
