@import "~@angular/material/theming";
@import "theme_pallets.scss";

@include mat-core();

@font-face {
  font-family: 'Exo';
  src: url('../assets/fonts/Exo-Bold.woff2') format('woff2'),
      url('../assets/fonts/Exo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('../assets/fonts/Exo-Regular.woff2') format('woff2'),
      url('../assets/fonts/Exo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$mat-theme-primary: mat-palette($mat-arc-primary);
$mat-theme-accent: mat-palette($mat-arc-accent);
$mat-theme-warn: mat-palette($mat-arc-warn);

$custom-theme: mat-light-theme(
  $mat-theme-primary,
  $mat-theme-accent,
  $mat-theme-warn
);

$custom-typography: mat-typography-config(
  $font-family: 'Exo',
);

@include angular-material-theme($custom-theme);
@include angular-material-typography($custom-typography);
/* theme color pallet classes */

$primary-color: map-get($custom-theme, primary);
$accent-color:map-get($custom-theme, accent );

.primary-background {
  background-color: mat-color($primary-color, default);
}

.primary-color {
  color: mat-color($primary-color, default);
}

.accent-color{
  color: mat-color($accent-color, default);
}

.accent-background{
  background-color: mat-color($accent-color,default);
}

.primary-background-override {
  background-color: mat-color($primary-color, default) !important;
}

.color-white-override{
  color: white !important;
}

.input-field{
  border: 1px solid  #8390c0;
  // min-width: 400px;
  padding: 5px 5px;
}

.input-field:focus{
  outline: none;
}
/* ========================== */