/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.white-button-outline {
  color: white !important;
  border-color: white !important;
}

.spacer {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  padding: 30px;
}

.color-white{
  color: white;
}

button{
  border-radius: 8px !important;
}

.toolbar-color{
  background-color: #565E78;
}

.gray-background{
  background-color: #C4C4C4 !important;
}

.gray-color{
  color: #C4C4C4;
}
.side-image{
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gradient-background{
  background: linear-gradient(180deg, rgba(8,35,88,1) 0%, rgba(58,11,74,1) 100%);
}

mat-card{
  border-radius: 8px !important;
}

.align-center{
  text-align: center;
}