$mat-arc-primary: (
  50 : #ffefe1,
  100 : #fed7b3,
  200 : #fdbd81,
  300 : #fca24f,
  400 : #fc8e29,
  500 : #fb7a03,
  600 : #fa7203,
  700 : #fa6702,
  800 : #f95d02,
  900 : #f84a01,
  A100 : #ffffff,
  A200 : #fff0eb,
  A400 : #ffc9b8,
  A700 : #ffb59f,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-arc-accent: (
  50 : #e1e5eb,
  100 : #b5bdcd,
  200 : #8491ac,
  300 : #52658a,
  400 : #2d4471,
  500 : #082358,
  600 : #071f50,
  700 : #061a47,
  800 : #04153d,
  900 : #020c2d,
  A100 : #667aff,
  A200 : #334eff,
  A400 : #0022ff,
  A700 : #001fe6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-arc-warn: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
