.page-theme {
  display: flex;
  flex: 1 0 auto;
}

.title {
  color: white;
  font-size: 1.5rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.forgot {
  font-size: 14px;
  margin-top: 10px;
}

.side-title{
  font-size: 3rem;
  line-height: 3.5rem;
}

.login-image{
  background-image: url("../../../../assets/images/login-side.png");
}