<div class="page-theme" fxLayout="row">
  <div fxFlex.xs="0" fxFlex="40" class="side-image login-image" fxLayoutAlign="center start">
    <span class="side-title">Welcome</span>
  </div>
  <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
    <div>
      <biz-toolbar [barColor]="color" [navigationList]="navigationList" hasBackground></biz-toolbar>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <bizcoveri></bizcoveri>
      <div class="full-width">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" fxLayout="column" class="auth-form">
          <div fxLayout="column" fxLayoutGap="5px">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="enter your mail">
            </mat-form-field>
          </div>
          <div style="padding-bottom: 15px;" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end end">
            <button mat-raised-button class="gray-background" (click)="goBack()">Back</button>
            <button mat-raised-button type="submit" color="accent">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
