.page-theme {
    display: flex;
    height: auto;
    flex: 1 0 auto;
  }

  .custom-container{
    display: block;
    position: relative;
  }

  .landing-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .page-title{
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
  }

  .tutorial-title{
    font-weight: 600;
    font-size: 16px;
  }

  .detail{
      font-size: 12px;
  }

  .tutorial-steps::before{
    content: "-";
    color: red;
  }

  .arrow-content{
    font-size: 35px;
  }

  .vertical-line{
    border-left: 2px solid;
    height: 100%;
  }

  .proposal-button{
    button{
      border-radius: 45px !important;
    }
  }

.circle-element{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 2px #cecece;
}

.parent-description{
  display:flex;
  flex-direction: column;
  .child-description{
    width: 100%;
    height: 100%;
  }
}