.page-theme {
  width: 100%;
}

.signup-image{
  background-image: url("../../../../assets/images/signup-image.png");
}

.button-sub{
  font-size: 15px;
  color: #c2c2c2;
  text-align: center;
}

.button-title{
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
}

.sub-title{
  font-size: 1.3rem;
  color: #5A5149;
}

.signup-content{
  margin-top: 20px;
  padding: 10px;
}

mat-icon{
  font-size: 70px;
  height: 70px;
  width: 70px;
}