<mat-toolbar #matToolbar fxLayout="row">
    <mat-toolbar-row>
        <div class="color-white" *ngIf="showMenuButton" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button (click)="openDrawer($event)">
                <mat-icon>menu</mat-icon>
            </button>
            <bizcoveri class="bizcoveri-title" isWhite="true"></bizcoveri>
        </div>
        <div class="spacer"></div>
        <div class="nav-items">
            <div class="item" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" (click)="signoutUser()">
                <button mat-icon-button>
                    <mat-icon svgIcon="signout" class="color-white"></mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
