.page-theme {
    width: 100%;
    background-image: url("../../../../assets/images/about.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: auto;
  }

  P{
      font-size: 60px;
      font-weight: 600;
      line-height: 60px;
  }

  u{
      text-decoration-color: #fb7a03;
  }