<rt-stepper initialStep="2">
    <cdk-step>
        <ng-template cdkStepLabel>
            <div class="cursor-pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <button mat-mini-fab color="accent">
                    <mat-icon>description</mat-icon>
                </button>
                <div fxLayout="column">
                    <span class="stepper-title">Basic Information</span>
                    <span class="stepper-sub">Name, address and internet profiles</span>
                </div>
            </div>
        </ng-template>
        <step-basic-info></step-basic-info>
    </cdk-step>
    <cdk-step>
        <ng-template cdkStepLabel>
            <div class="cursor-pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <button mat-mini-fab color="accent">
                    <mat-icon>business</mat-icon>
                </button>
                <div fxLayout="column">
                    <span class="stepper-title">Company details</span>
                    <span class="stepper-sub">Description, people and location</span>
                </div>
            </div>
        </ng-template>
        <step-company-details></step-company-details>
    </cdk-step>
    <cdk-step>
        <ng-template cdkStepLabel>
            <div class="cursor-pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <button mat-mini-fab color="accent">
                    <mat-icon svgIcon="team"></mat-icon>
                </button>
                <div fxLayout="column">
                    <span class="stepper-title">Team members</span>
                    <span class="stepper-sub">Add all your team members dor seamless execution</span>
                </div>
            </div>
        </ng-template>
        <step-team-members></step-team-members>
    </cdk-step>
    <cdk-step>
        <ng-template cdkStepLabel>
            <div class="cursor-pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <button mat-mini-fab color="accent">
                    <mat-icon>rate_review</mat-icon>
                </button>
                <div fxLayout="column">
                    <span class="stepper-title">Review</span>
                    <span class="stepper-sub">Review the project details before submitting</span>
                </div>
            </div>
        </ng-template>
        <div>Step basic info</div>
    </cdk-step>
</rt-stepper>
