<div class="full-width" fxLayout="column">
    <div class="page-header" fxLayout="column" fxLayoutGap="15px">
        <span class="page-title accent-color">Project Title</span>
        <div fxLayout="row">
            <chip-list [chipList]="chips"></chip-list>
        </div>
    </div>
    <div class="page-container">
        <mat-card fxLayout="column" fxLayoutGap="15px">
            <section fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start">
                <div fxFlex="80" fxLayout="column" fxLayoutGap="10px">
                    <span>Introduction</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                    <div fxLayoutAlign="end end">
                        <button mat-raised-button color="accent">Save</button>
                    </div>
                </div>
                <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
                    <span>Remark</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                </div>
            </section>
            <section fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start">
                <div fxFlex="80" fxLayout="column" fxLayoutGap="10px">
                    <span>Scope</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                    <div fxLayoutAlign="end end">
                        <button mat-raised-button color="accent">Save</button>
                    </div>
                </div>
                <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
                    <span>Remark</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                </div>
            </section>
            <section fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start">
                <div fxFlex="80" fxLayout="column" fxLayoutGap="10px">
                    <span>Commercial Terms</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                    <div fxLayoutAlign="end end">
                        <button mat-raised-button color="accent">Save</button>
                    </div>
                </div>
                <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
                    <span>Remark</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                </div>
            </section>
            <section fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start">
                <div fxFlex="80" fxLayout="column" fxLayoutGap="10px">
                    <span>Legal Terms</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                    <div fxLayoutAlign="end end">
                        <button mat-raised-button color="accent">Save</button>
                    </div>
                </div>
                <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
                    <span>Remark</span>
                    <div class="text-container gray-color">
                        DUmmy text
                    </div>
                </div>
            </section>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 25px;">
                <div fxLayout="row" fxLayoutGap="10px">
                    <button mat-raised-button class="gray-background">Send back for rework</button>
                    <button mat-raised-button color="accent">
                        <mat-icon>cloud_download</mat-icon>
                        <span style="margin-left: 10px;">Download</span>
                    </button>
                </div>
                <button mat-raised-button color="primary">Accept</button>
            </div>
        </mat-card>
    </div>
</div>
