.container{
    display: flex;
    flex: 1 0 100%;
}

.button-title{
    font-size: 16px;
    font-weight: 600;
}

.button-sub{
    font-size: 14px;
}

.buttons-service{
    display: table;
    service-button{
        display: table-cell;
    }
}