<div class="full-width nav-body" [ngClass]="{'toolbar-color': hasBackground}" color="primary" fxLayout="row">
    <div class="full-width" fxLayout="column" fxLayoutGap="10px">
        <div class="full-width" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="firstNavigation.length!=0">
            <ng-container *ngFor="let nav of firstNavigation;let i = index">
                <span style="font-size: 14px;" class="cursor-pointer" (click)="navigateTo(nav.route)">
                    {{nav.name}}
                </span>
                <span *ngIf="i != firstNavigation.length-1">|</span>
            </ng-container>
        </div>
        <div class="full-width" fxLayout="row">
            <div class="logo" *ngIf="hasLogo">
                <img src="../../../../../assets/images/title.png" alt="brand-logo">
            </div>
            <div class="spacer"></div>
            <div fxLayout="row">
                <ng-container *ngFor="let navigation of navigationList">
                    <button mat-button *ngIf="navigation.type=='secondary'" (click)="navigateTo(navigation.route)">
                        <span>{{navigation.name}}</span>
                    </button>
                    <button mat-flat-button color="primary" *ngIf="navigation.type=='primary'"
                        (click)="navigateTo(navigation.route)">
                        <span>{{navigation.name}}</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>
