<div class="full-width nav-body" [ngClass]="{'shadow-toolbar':hasShadow}"
    [ngStyle]="{'background-color': getBackground()}" color="primary" fxLayout="row">
    <div class="full-width" fxLayout="column" fxLayoutGap="10px">
        <ng-container>

        </ng-container>

        <div class="full-width" fxLayoutAlign="end center" fxLayoutGap="10px"
            *ngIf="firstNavigation.length!=0 && !isLoggedIn">
            <ng-container *ngFor="let nav of firstNavigation;let i = index">
                <span style="font-size: 14px;" class="cursor-pointer" (click)="navigateTo(nav.route)">
                    {{nav.name}}
                </span>
                <span *ngIf="i != firstNavigation.length-1">|</span>
            </ng-container>
        </div>
        <div class="full-width" fxLayout="row">
            <div class="logo cursor-pointer" *ngIf="hasLogo" (click)="navigateTo('')">
                <img src="../../../../../assets/images/title.png" alt="brand-logo">
            </div>
            <div class="spacer"></div>
            <div fxLayout="row" fxLayoutGap="10px">
                <ng-container *ngFor="let navigation of navigationList">
                    <button mat-button *ngIf="navigation.type=='secondary'"
                        [ngStyle]="{'background-color': selectedNav==navigation.route?'#cacaca73':none}"
                        (click)="navigateTo(navigation.route)">
                        <span>{{navigation.name}}</span>
                    </button>
                    <button class="primary-nav" mat-flat-button color="primary" *ngIf="navigation.type=='primary'"
                        (click)="navigateTo(navigation.route)">
                        <span>{{navigation.name}}</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>
