:host{
    color: white;
    max-height: 45px;
    width: 100%;
}

.nav-body{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    img{
        height: 2.4em;
        width: auto;
    }
}

.spacer{
    flex: 1 1 auto;
}

.shadow-toolbar{
    box-shadow: 0px 0px 2px 2px #1d1d1d;
}