<div class="page-theme" fxLayout="row">
    <div fxFlex.xs="0" fxFlex="40" class="side-image signup-image color-white side-font" fxLayoutAlign="center start">
        Welcome
    </div>
    <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
        <div>
            <biz-toolbar [barColor]="color" [navigationList]="navigationList" hasBackground></biz-toolbar>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center">
            <bizcoveri></bizcoveri>
            <div class="full-width">
                <form class="auth-form" fxLayout="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Work Email</mat-label>
                        <input matInput placeholder="work email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="password">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutGap="10px" class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="first name">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="last name">
                        </mat-form-field>
                    </div>
                    <div class="full-width" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Contact</mat-label>
                            <ngx-mat-intl-tel-input [preferredCountries]="['us', 'gb']" [enablePlaceholder]="true"
                                [enableSearch]="true" name="phone">
                            </ngx-mat-intl-tel-input>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Location</mat-label>
                            <input matInput placeholder="location">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Function</mat-label>
                            <input matInput placeholder="function">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Designation</mat-label>
                            <input matInput placeholder="designation">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px" style="margin-top: 20px;">
                        <div fxLayoutAlign="center center">
                            <button mat-raised-button type="submit" color="primary">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
