.page-theme {
    width: 100%;
  }
  
  .signup-image{
    background-image: url("../../../../assets/images/signup2.png");
  }
  
  .sub-title{
    font-size: 1.3rem;
    color: #5A5149;
  }
  
  .signup-content{
    margin-top: 20px;
    padding: 10px;
  }

  .side-font{
      font-size: 50px;
      line-height: 65px;
  }